/backup
/application/config/config.php
/application/config/database.php
/database (pilih salahsatu file sql)
/upload
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
secondary.zip
pickup.sql
Data Siswa.pdf
example.xlsx
